<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <!-- 헤더 내용 -->
    </header>

    <nav>
      <ul>
        {% for page in site.pages %}
          <tr>site: {{site}}</li>
          <tr>page: {{page}}</li>
          <tr>site.baseurl: {{site.baseurl}}</li>
          <tr>page.path: {{page.path}}</li>
          <tr>page.name: {{page.name}}</li>
          <tr>page.dir: {{page.dir}}</li>
        {% endfor %}
        </ul>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <!-- 푸터 내용 -->
    </footer>
  </body>
</html>
