<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <!-- 헤더 내용 -->
    </header>
    <nav>
      <ul>
        {% for page in site.pages %}
        {% assign path_segments = page.path | split: '/' %}
        {% if path_segments.size > 1 %}
          <li><a href="https://jeju-foryou.github.io/vr_room/{{ path_segments.first }}">{{ path_segments.first }}</a></li>
        {% endif %}
      {% endfor %}
        </ul>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer>
      <!-- 푸터 내용 -->
    </footer>
  </body>
</html>
