<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <!-- 헤더 내용 -->
    </header>

    <nav>
      <ul>
        {% for page in site.pages %}
          <script>
            var pagePath = "{{ page.path }}";
            var directoryName = pagePath.split("/")[0];
            document.getElementById("myLink").href = directoryName;
          </script>
          <a id="myLink" href="">링크 텍스트</a>
        {% endfor %}
        </ul>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <!-- 푸터 내용 -->
    </footer>
  </body>
</html>
